<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="toxich.com.clientinfo">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".CustomerInfo" android:label="@string/customer_info"/>
        <activity android:name=".FindCustomer" android:label="@string/find_customer"/>
        <activity android:name=".EditCustomer" android:label="@string/add_customer"/>
        <activity android:name=".CustomerList" android:label="@string/customer_list"/>
        <activity android:name=".EditWaybill" android:label="@string/add_waybill"/>

    </application>

</manifest>